{% extends "base.html" %}
{% block content %}
<h2>イベント編集</h2>

<form method="POST">

  年：
  <select name="year">
    {% for y in years %}
      <option value="{{ y }}" {% if y == cand.year %}selected{% endif %}>{{ y }}</option>
    {% endfor %}
  </select>

  月：
  <select name="month">
    {% for m in months %}
      <option value="{{ m }}" {% if m == cand.month %}selected{% endif %}>{{ m }}</option>
    {% endfor %}
  </select>

  日：
  <select name="day">
    {% for d in days %}
      <option value="{{ d }}" {% if d == cand.day %}selected{% endif %}>{{ d }}</option>
    {% endfor %}
  </select>

  体育館：
  <select name="gym">
    {% for g in gyms %}
      <option value="{{ g }}" {% if g == cand.gym %}selected{% endif %}>{{ g }}</option>
    {% endfor %}
  </select>

  開始：
  <select name="start">
    {% for t in times %}
      <option value="{{ t }}" {% if t == cand.start %}selected{% endif %}>{{ t }}</option>
    {% endfor %}
  </select>

  終了：
  <select name="end">
    {% for t in times %}
      <option value="{{ t }}" {% if t == cand.end %}selected{% endif %}>{{ t }}</option>
    {% endfor %}
  </select>

  <button type="submit">更新</button>
</form>

{% endblock %}
